* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100vw;
  height: 100vh;
}

@font-face {
    font-family: 'AliR';
    src: url("./font/ttf/AlibabaPuHuiTi-2-55-Regular.ttf");
}
@font-face {
    font-family: 'AliW';
    src: url("./font/ttf/AlibabaPuHuiTi-2-85-Bold.ttf");
}

@font-face {
  font-family: 'AliM';
  src: url("./font/ttf/AlibabaPuHuiTi-2-65-Medium.ttf");
}


/* Logo 字体 */
@font-face {
    font-family: "iconfont";
    src: url('./icon/iconfont.ttf') format('truetype'),
         url('./icon/iconfont.woff') format('woff'),
         url('./icon/iconfont.woff2') format('woff2')
  }
  

  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-up:before {
    content: "\e7eb";
  }
  
  .icon-down:before {
    content: "\e839";
  }
.icon-about-me:before {
  content: "\e626";
}

.icon-error:before {
  content: "\e656";
}

.icon-warn:before {
  content: "\e662";
}

.icon-wx:before {
  content: "\e61e";
}

.icon-info:before {
  content: "\e83d";
}

.icon-success:before {
  content: "\e842";
}

.icon-qq:before {
  content: "\eb36";
}

.icon-dog:before {
  content: "\e976";
}

.icon-blog:before {
  content: "\e660";
}

.icon-article:before {
  content: "\e69a";
}

.icon-frog:before {
  content: "\e661";
}

.icon-frog1:before {
  content: "\e722";
}

.icon-apple-fill:before {
  content: "\e881";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-Dog:before {
  content: "\e8dd";
}

.icon-Frog:before {
  content: "\e74d";
}

.icon-home:before {
  content: "\e6a3";
}

.icon-bilibili-line:before {
  content: "\e66d";
}

.icon-frog2:before {
  content: "\eb35";
}

.icon-a-16_Frog:before {
  content: "\e733";
}

.icon-gmail:before {
  content: "\e77c";
}

 